.btn {
  color: white;
  font-size: 16px;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background-color: #04aa6d;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  transform: scale(0.95);
}
